.form__button--submit {
  padding: 10px;
  border-radius: 100px;
  color: white;
  background-color: #4f7df3; }

body {
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  height: 100vh;
  text-align: center; }

.logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90px;
  padding-top: 3rem;
  padding-bottom: 2rem; }

.container__soon--title {
  color: silver;
  font-weight: 300; }

.container__subscribe--Sp {
  font-weight: normal;
  color: #151f29 #151f29; }

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .form__input--email {
    margin-right: 1em;
    width: 400px;
    padding: 1.2em 2em;
    border-radius: 20px;
    border: 1px solid #969696; }
  .form__button--submit {
    margin-right: 1em;
    width: 400px;
    padding: 1.2em 2em;
    border-radius: 20px;
    border: 1px solid #969696;
    width: 120px; }
    .form__button--submit:hover {
      background-color: #c2d3ff; }

.dash__dashboard {
  padding: 5%;
  display: flex;
  justify-content: center;
  width: 90vw;
  max-width: 700px;
  margin: 0 auto; }

#social {
  margin-top: 8rem; }
  #social i {
    font-size: 1rem;
    color: #4f7df3;
    border: 1px solid;
    padding: .5rem;
    border-radius: 50%;
    margin: .5rem; }
    #social i:hover {
      background-color: #c2d3ff; }

h4 {
  font-size: .9rem;
  margin: 1rem 0;
  font-weight: normal;
  color: #969696; }

.attribution {
  font-size: .8rem;
  padding: 0;
  color: #4f7df3;
  margin-bottom: 15px; }
  .attribution a {
    text-decoration: none;
    color: #4f7df3; }

@media only screen and (max-width: 600px) {
  .form {
    display: block;
    justify-content: center; }
    .form__input--email {
      width: 40%;
      height: .0rem; }
    .form__button--submit {
      width: 51%;
      margin-top: 1em;
      padding: 1em;
      font-size: .6em; }
  .dash__dashboard {
    padding: 5%;
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 350px;
    margin: 0 auto; } }
